#kontener{
	width:100%;
	height: 100%;
	background-color: cyan;
}

#naglowek{
	width:100%;
	height:7%;
	background-color: black;
	float:left;
}
	
#menu{
	width:20%;
	height:90%;
	background-color:black;
	float:left;
}

#okno{
	width:60%;
	height: 90%;
	background-color:red;
	float:left;
}

#stopka{
	width: 100%;
	height: 3%;
	background-color: black;
	float: left;
	color: green;
}

canvas{
	//width:920px;
	//height:650px;
	background-color:black;
	//border:1px solid black;
	display: block;
}

body{
	margin: 0px;
	}

img{
	display: none;
}