body{
	width: 100%;
	padding:0;
	text-align:center;
	margin:auto;
	width:auto;
	height:auto;
	background-image:url(images/loginbackground.jpg);

}

.tresc{
	opacity:1;
	background-color:rgba(200,173,127,0.7);
	text-shadow:silver 4px 4px 8px;
	border: none;
    border-radius: 3rem;
    padding: 2%;
    width: 20%;
    font-weight: bold;
    color: #383d41;
    margin-top: 15%;
	margin-left: 37%;
}

.zaloguj{
	color:#5C3317;
}

.form{
	
}

.button{
	position: relative;
	font-weight: bold;
	color: white;
	text-decoration: none;
	text-shadow: 0 -1px 1px #cc5500;
	user-select: none;
	padding: .8em 2em;
	outline: none;
	border-radius: 1px;
	background: linear-gradient(to left, rgba(0,0,0,.3), rgba(0,0,0,.0) 50%, rgba(0,0,0,.3)), linear-gradient(#d77d31, #fe8417, #d77d31);
	background-size: 100% 100%, auto;
	background-position: 50% 50%;
	box-shadow: inset #ebab00 0 -1px 1px, inset 0 1px 1px #ffbf00, #cc7722 0 0 0 1px, #000 0 10px 15px -10px;
	transition: 0.2s;
}
.button:hover{
	background-size: 140% 100%, auto;
}
.button:active{
	top: 1px;
	color: #ffdead;
	box-shadow: inset #ebab00 0 -1px 1px, inset 0 1px 1px #ffbf00, #cc7722 0 0 0 1px, 0 10px 10px -9px #000;
}









