a {
    text-decoration: none;
}
img{
    border-radius: .25rem;
}
.ikonaOdnosnika{
    width: 25px;
    height: 25px;
}
.ikonaListy{
    width: 25px;
    height: 25px;
    margin-left: 7px;
    margin-right: 8px;
}
#centrumGrupa ul {
    list-style-type: none;
    padding: 0px;
}
.tytulArtykulu{
    font-size: 2em;
}
.kartaObrazku, .kartaMalegoObrazku{
    background-color: #cff4fc;
}
.kartaObrazku > img{
    width: 100px;
    height: 100px;
}
.kartaMalegoObrazku > img{
    width: 50px;
    height: 50px;
}
.tabelaBadan th, .tabelaBadan td, .tabelaBadan li{
    vertical-align: middle;
}
#naglowekKategorii{
    background-color: #6dd27e;
    font-size: 1.5em;
}
#przycisk{
    height: 50px;
    display: block;
    font-size: 1.5em;
}
#kolumnaBoczna{
    background-image: url('../grafiki/kamienie.png');
}
#kolCentrum{
    background-color:#a3ecaf;
}
#tytul{
    font-size: 2em;
}
#nowyGracz{
    font-size: 1.5em;
}
#centrumGrupa{
    border-top: 3px solid #b2dfb8;
    border-left: 3px solid #b2dfb8;
    border-right: 3px solid #81bf8a;
    border-bottom: 3px solid #81bf8a;
    border-radius: 10px;
}
#belka{
    height: 8px;
    background-color: #6dd27e;
}
@media screen and (min-width: 768px)
{
    .tytulArtykulu{
        font-size: 3em;
    }
}